<?xml version="1.0" encoding="utf-8"?>

<Configuration>

  <Appenders>

    <File name="file" filename="./log/server.log">
      <PatternLayout>
        <Pattern>%-5p %d{yyyy-MM-dd HH:mm} %c{1.} : %L [%t] | %m %ex%n</Pattern>
      </PatternLayout>
    </File>

  </Appenders>

  <Loggers>
    
    <Root level="trace">
      <AppenderRef ref="file" level="DEBUG"/>
    </Root>
  
  </Loggers>

</Configuration>